@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@font-face {
    font-family: "roboto";
    src: url('../fonts/roboto/Roboto-Light.ttf');
    }
*{
	margin: 0;
	padding : 0;
}
/* h2{
	font-family: 'roboto', serif;
    text-transform: uppercase;
	font-size: 1.1em;
}
p{
	font-family: Didact Gothic;
	font-size: 1.1em;
} */
header{
  width: 100%;
  height: 100vh;
  background: #B8DFF0;
}
.barreHaut{
  display: flex;
  justify-content: space-between;
  

}
nav{
  background: #FFB400;
  padding: 10px;
}
nav p{
  padding: 10px;
  display: inline;
}
